* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;

  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

h2,
h3 {
  color: #FFAD84;
}

footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
  text-align: center;
  font-weight: bold;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;

  color: white;
}

nav a:hover {
  font-weight: bold;
}

.profile header {
  text-align: center;
}



.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.profile img {
  width: 200px;
}

#banjarmasin {
  font-size: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: black;
  text-align: center;
  color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.jumbotron-image {
  opacity: 50%;
  width: 100%;
  max-height: 400px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}

nav ul {
  padding-inline: 4rem;
  display: flex;

  gap: 2rem;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: grey;
  padding: 5px;

  position: sticky;
  top: 0;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

aside {
  flex: 1;
}

@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}

header {
  display: inline;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}

/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}

.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
